@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

@Html.ActionLink( "All Stylists", "Index", "Stylists", null, new { @class = "btn btn-info" })

<p class="title">Add Stylist</p>
<hr />
@using (Html.BeginForm())
{
  <table class="set-table">
    <tr>
      <td>@Html.Label("Name"):</td>
      <td>@Html.TextBoxFor(model => model.StylistName, new { @class = "form-control", required = "required" })</td>
    </tr>
    <tr>
      <td>@Html.Label("Specialty"):</td>
      <td>@Html.TextAreaFor(model => model.Specialty, new { @rows = "5", @class = "big-input form-control" } )</td>
    </tr>
  </table>
  <input type="submit" value="Add Stylist" class="btn btn-info" />
}
<hr />