@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

@Html.ActionLink( "All Stylists", "Index", "Stylists", null, new { @class = "btn btn-info" })
@Html.ActionLink( "Back to Stylist", "Details", "Stylists", new { id = Model.StylistId }, new { @class = "btn btn-info" })

<h4>Editing @Html.DisplayFor(model => model.StylistName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)
  <table class="set-table">
    <tr>
      <td>@Html.Label("Name"):</td>
      <td>@Html.EditorFor(model => model.StylistName, new { htmlAttributes = new { @class = "form-control", required = "required" } })</td>
    </tr>
    <tr>
      <td>@Html.Label("Specialty"):</td>
      <td>@Html.EditorFor(model => model.Specialty, new { htmlAttributes = new { @rows = "5", @class = "big-input form-control" } })</td>
    </tr>
  </table>
    <input type="submit" value="Save" class="btn btn-info"/>
}