@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

@Html.ActionLink( "All Stylists", "Index", "Stylists", null, new { @class = "btn btn-info" })

<h4>Add Client</h4>

@using (Html.BeginForm())
{
  <table class="set-table">
    <tr>
      <td>@Html.Label("Name"):</td>
      <td>@Html.TextBoxFor(model => model.ClientName, new { @required = "required"})</td>
    </tr>
    <tr>
      <td>@Html.Label("Likes"):</td>
      <td>@Html.TextAreaFor(model => model.Likes, new { @class="big-input"})</td>
    </tr>
    <tr>
      <td>@Html.Label("Dislikes"):</td>
      <td>@Html.TextAreaFor(model => model.Dislikes, new { @class="big-input"})</td>
    </tr>
    <tr>
      <td>@Html.Label("Phone Number"):</td>
      <td>@Html.TextBoxFor(model => model.Phone, new { @required = "required"})</td>
    </tr>
    <tr>
      <td>@Html.Label("Assigned Stylist"):</td>
      <td>@Html.DropDownList("StylistId")</td>
    </tr>
  </table>
  <input type="submit" value="Add new client" class="btn btn-default" />
}