@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

@Html.ActionLink( "All Stylists", "Index", "Stylists", null, new { @class = "btn btn-info" })
@Html.ActionLink( "Back to Stylist", "Details", "Stylists", new { id = Model.StylistId }, new { @class = "btn btn-info" })
@Html.ActionLink( "Edit", "Edit", null, new { id = Model.ClientId }, new { @class = "btn btn-info" })

<p>@Html.DisplayFor(model => model.ClientName)'s Details</p>
<hr />
<table class="set-table">
  <tr>
    <td>@Html.DisplayName("Name"):</td>
    <td>@Html.DisplayFor(model => model.ClientName)</td>
  </tr>
  <tr>
    <td>@Html.DisplayName("Likes"):</td>
    <td>@Html.DisplayFor(model => model.Likes)</td>
  </tr>
  <tr>
    <td>@Html.DisplayName("Dislikes"):</td>
    <td>@Html.DisplayFor(model => model.Dislikes)</td>
  </tr>
  <tr>
    <td>@Html.DisplayName("Phone Number"):</td>
    <td>@Html.DisplayFor(model => model.Phone)</td>
  </tr>
  <tr>
    <td>@Html.DisplayName("Stylist"):</td>
    <td>@Html.DisplayFor(model => model.Stylist.StylistName)</td>
  </tr>
</table>