@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<button type="button" class="btn btn-info" onclick="window.location.href='/Stylists/{@Model.StylistId}';">@Model.Stylist.StylistName</button>
<button type="button" class="btn btn-info" onclick="window.location.href='/Clients/{@Model.ClientId}/Edit';">Edit @Model.ClientName</button>

<p>@Model.ClientName's Details</p>
<hr />
<table class="set-table">
  <tr>
    <td>@Html.DisplayName("Name"):</td>
    <td>@Html.DisplayFor(model => model.ClientName)</td>
  </tr>
  <tr>
    <td>@Html.DisplayName("Stylist"):</td>
    <td>@Html.DisplayFor(model => model.Stylist.StylistName)</td>
  </tr>
</table>