@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

@Html.ActionLink( "All Stylists", "Index", "Stylists", null, new { @class = "btn btn-info" })
@Html.ActionLink( "Back to Stylist", "Details", "Stylists", new { id = Model.StylistId }, new { @class = "btn btn-info" })
@Html.ActionLink( "Edit", "Details", null, new { id = Model.ClientId }, new { @class = "btn btn-info" })

<h4>Editing: @Html.DisplayFor(model => model.ClientName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)
    <table class="set-table">
      <tr>
        <td>@Html.Label("Name"):</td>
        <td>@Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control", required = "required" } })</td>
      </tr>
      <tr>
        <td>@Html.Label("Likes"):</td>
        <td>@Html.EditorFor(model => model.Likes, new { htmlAttributes = new { @rows = "5", @class = "big-input form-control" } })</td>
      </tr>
      <tr>
        <td>@Html.Label("Dislikes"):</td>
        <td>@Html.EditorFor(model => model.Dislikes, new { htmlAttributes = new { @rows = "5", @class = "big-input form-control" } })</td>
      </tr>
      <tr>
        <td>@Html.Label("Phone Number"):</td>
        <td>@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })</td>
      </tr>
      <tr>
        <td>@Html.Label("Specialist"):</td>
        <td>@Html.DropDownList("StylistId", null, new { @class="form-control"})</td>
      </tr>
    </table>
    <input type="submit" value="Save" class="btn btn-info"/>
}