@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<button type="button" class="btn btn-info" onclick="window.location.href='/Stylists/{@Model.StylistId}';">@Model.Stylist.StylistName</button>
<button type="button" class="btn btn-info" onclick="window.location.href='/Clients/{@Model.ClientId}';">Back @Model.ClientName</button>

<h4>Editing: @Html.DisplayFor(model => model.ClientName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)
    <table class="set-table">
      <tr>
        <td>@Html.Label("Name"):</td>
        <td>@Html.EditorFor(model => model.ClientName, new { @required = "required"})</td>
      </tr>
      <tr>
        <td>@Html.Label("Specialist"):</td>
        <td>@Html.DropDownList("StylistId")</td>
      </tr>
    </table>
    <input type="submit" value="Save" class="btn btn-info"/>
}